.ccmsc-main-container .cc-content-container {
    overflow: auto;

    // height: 100%;
    & > ui-view {
        display: block;

        height: 100%;
    }
}
* {
    margin: 0;
}
.le {
    top: 56px;
    * {
        box-sizing: border-box;
    }
    a,
    a:visited,
    a:active,
    a:link {
        cursor: pointer;
        text-decoration: none;

        color: #0083ba;
    }
    a:hover {
        color: #00aaf1;
    }
    .operator-container {
        button + a,
        a + a {
            margin-left: 20px;
        }
    }

    .cc-side-container {
        overflow: visible;
    }

    > cc-loading {
        margin: auto;
    }
    .leLoading {
        width: 50px;
        margin: 100px auto 0 auto;
    }

    .icon-button {
        cursor: pointer;

        color: #0083ba;
    }

    .icon-reverse {
        transform: rotate(180deg) translate(0px, 1px);
    }

    // 页面顶部标题样式
    .head-title-container {
        // display: flex;
        margin-bottom: 10px;

        // align-items: center;

        // 只有一级菜单
        .mainTitle {
            font-size: 18px;

            display: inline-block;

            color: #2d2d2d;
        }

        // 有二级菜单
        .subtitle1 {
            font-size: 14px;

            cursor: pointer;

            color: #0084bb;

            &:after {
                font-size: 12px;

                content: ' / ';

                color: #999;
            }
        }
        .subtitle1 + .subtitle1 {
            margin-left: 3px;
        }
        .subtitle2 {
            font-size: 14px;

            margin-left: 3px;

            color: #2d2d2d;
        }
        .switch {
            display: inline-block;

            margin-top: 3px;
            margin-left: 20px;
            .switch-button-block {
                width: 5em;
            }
        }
        .radio-item-wrap {
            cc-radio {
                margin-left: 15px;
            }
        }
    }
    .foot-container {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 180px;

        display: flex;

        height: 50px;

        border-top: #e8e8e8 1px solid;
        background-color: #fefefe;

        justify-content: center;
        align-items: center;
        button + button {
            margin-left: 15px;
        }
        .other-button {
            font-size: 14px;

            margin-right: 29px;

            cursor: pointer;
            text-align: center;

            color: #00aaf1;
        }
        .disabled {
            cursor: not-allowed;

            color: #999;
        }
    }
    .ellipsis {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .menu-container .menu-list .one-list {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
    fieldset {
        display: block;

        margin: 0;
        padding: 0;

        border: none;
    }
    .input-large {
        width: 130px;
    }
    .input-medium {
        width: 90px;
    }

    .input-small {
        width: 79px;
    }
    .visible-grid {
        .ccms-table-wrapper {
            overflow: visible !important;
        }
    }
    .dropdown-select-input-wrap {
        height: 30px;
    }
}
.modal-body {
    .leLoading {
        padding-top: 100px;

        text-align: center;
    }
}

.menu-container .menu-list a {
    font-family: Microsoft YaHei;
    font-size: 12px;
    line-height: 35px;

    display: block;

    height: 35px;

    cursor: pointer;
    text-decoration: none;

    color: #666;
}
// 左侧菜单收起
.le.contract-left .foot-container {
    left: 30px;
}
