.level-rule-condition-edit{
	.integral-valids-settings-block{
		margin: 16px 20px;

		cc-radio + cc-radio{
			display: block;
			margin-top: 20px;
		}
		.input-small{
			width: 56px;
			margin-right: 5px;
		}
		.cycle-selection{
			width: 48px;
			margin-right: 13px;
		}
		.dropdown-select{
			min-width: 56px;
		}
		.radio-button-label{
			display: flex;
			align-items: center;
			.sep{
				margin-right: 8px;
			}
		}
	}
	.foot-container {
		position: fixed;
		bottom: 0;
		left: 180px;
		right: 0;
		height: 50px;
		border-top: #e8e8e8 1px solid;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fefefe;
		button + button {
			margin-left: 15px;
		}
	}
}
