<section class="level-rule-condition-edit">
	<div cc-bind-html="$ctrl.headTitleContainer"></div>
	<le-time-line class="rule-setting-timeLine" state-list="$ctrl.timeLineList"
				  current-state="$ctrl.currentState"></le-time-line>
	<validity-setting time-config-obj="$ctrl.timeConfigObj" time-obj="$ctrl.timeObjFn"></validity-setting>

	<footer class="foot-container">
		<button class="btn-ok btn-save" ng-click="$ctrl.nextStep()">下一步</button>
		<button class="btn-cancel" ng-click="$ctrl.cancel()">取消</button>
	</footer>
</section>
