<div ng-show="$ctrl.showLoading" class="leLoading">
	<cc-loading>正在更新</cc-loading>
</div>
<div>
	<form ng-show="!$ctrl.showLoading" class="form-wrapper-horizontal" tooltip-type="minor" name="$ctrl.memberEdit" cc-validators="$ctrl.validators">

		<!-- <div class="member-meta"> -->
		<div class="form-group">
			<label class="control-label">会员卡号：</label>
			<div class="control-input member-input">
				<input type="text" maxlength="50" ng-model="$ctrl.memberInfo.cardNumber" disabled>
			</div>
		</div>
		<div class="form-group" ng-repeat="meta in $ctrl.memberArray">
			<label class="control-label">{{meta.displayName}}：</label>
			<div class="control-input" ng-class="{'member-birth': meta.viewType === 'DATE', 'member-input': meta.viewType === 'INPUT_STR'}">
				<le-meta-data-input view-type="{{meta.viewType}}" values="meta.values" validator="{{meta.keys[0]}}" date-max="$ctrl.now"
				 hide-logic="true" disable="meta.disable">
				</le-meta-data-input>
			</div>
		</div>
		<!-- </div> -->

		<!-- <div class="member-grade-div"> -->
		<div ng-repeat="grade in $ctrl.gradeList">
			<div class="form-group grade-group">
				<label class="control-label">{{grade.caption || '等级'}}：</label>
				<div class="control-input">
					<cc-dropdown-select class="member-grade" model="grade.currentGradeId" datalist="grade.gradeListOptions">
					</cc-dropdown-select>
				</div>
			</div>
			<div class="form-group grade-group">
				<label class="control-label">{{grade.caption || '等级'}}有效期：</label>
				<div class="control-input">
					<cc-date-picker class="grade-effective" ng-model="grade.currentOverdueDate" name="dataPicker"
					 date-only="true" cc-validator required required-msg="请输入正确的{{grade.caption || '等级'}}有效期！" ng-required="!grade.longEffective"
					 disabled="grade.longEffective">
					</cc-date-picker>
					<cc-checkbox class="long-effective" ng-model="grade.longEffective">永久有效</cc-checkbox>
				</div>
			</div>
		</div>
		<div class="form-group" ng-repeat="point in $ctrl.valueArray">
			<label class="control-label point-label">{{point.title}}：</label>
			<div class="control-input">
				<cc-dropdown-select class="add-sub" model="point.type" datalist="$ctrl.datalist">
				</cc-dropdown-select>
				<input type="number" class="member-points" ng-model="point.value" cc-validator min="0" max="99999999" min-msg="请输入1-99,999,999的整数"
				 max-msg="请输入1-99,999,999的整数">
				<span>当前：{{$ctrl.memberPoint[point.title] || 0}}</span>
			</div>
		</div>
	</form>
</div>
