.le{
	.time-setting-block {
		background: #ffffff;
		border: 1px solid #d9d9d9;
		position: relative;
		.input-name {
			margin-left: 8px;
			color: #c9c9c9;
		}
		.wrap-input {
			margin: 0 20px 0 9px;

			.input-HH, .input-mm {
				border: none;
				width: 13px;
				font-size: 12px;
				padding: 0;
			}
			.sep {
				color: #c9c9c9;
			}
		}
		.icon-calendar {
			cursor: pointer;
			color: #c9c9c9;
			margin-right: 8px;
			font-size: 14px;
		}
		.abs-block{
			position: absolute;
			left: -1px;
			top: -1px;
			display: inline-block;
			z-index: 1;
			width: 167px;
			height: 91px;
			background: #fff;
			border: 1px solid #d9d9d9;
			.wrap{
				margin: 10px 20px;
				display: flex;
				justify-content: space-around;
				.input-HH, .input-mm {
					border: 1px solid #d9d9d9;
					font-size: 12px;
					height: 24px;
					line-height: 24px;
					margin: 0 1px;
					outline: 0;
					padding: 0;
					text-align: center;
					width: 64px;
				}
				.sep {
					margin: 0 3px;
				}
			}
			.calendar-buttons{

			}

		}
	}
}
