<section class="rule-expression-edit">
	<div cc-bind-html="$ctrl.headTitleContainer"></div>

	<le-time-line class="rule-setting-timeLine" state-list="$ctrl.timeLineList"
				  current-state="$ctrl.currentState"></le-time-line>
	<div ng-if="!$ctrl.contents" class="leLoading">
		<cc-loading></cc-loading>
	</div>
	<div ng-if="$ctrl.contents" class="rule-expression-block" ng-click="$ctrl.con()">
		<le-expression-block
			rules="$ctrl.rules"
			variables="$ctrl.contents"
			edit-custom-variable-fn="$ctrl.editCustomVariable(variable)"
			editable="true"
			edit-expression-fn="$ctrl.editExpression()"></le-expression-block>
	</div>
	<le-expression-btn contents="$ctrl.contents" current-schema-id="$ctrl.variable.currentSchemaId" insert-expression-content="$ctrl._exDataService.insertExpressionContent($ctrl, variable)"></le-expression-btn>
	<footer ng-if="$ctrl.contents" class="foot-container">
		<button class="btn-cancel" ng-click="$ctrl.previousStep()">上一步</button>
		<button class="btn-ok btn-save" ng-click="$ctrl.confirm()">确定</button>
		<button class="btn-cancel" ng-click="$ctrl.cancel()">取消</button>
	</footer>
</section>
