<div class="rule-editor-main-container">
	<div class="button-row">
		<button class="btn-function-highlight" ng-click="$ctrl.ruleOperate('add'); $ctrl.editClick({index:$ctrl.ruleList.length - 1})">+ 添加规则</button>
	</div>
	<div ng-repeat="rule in $ctrl.ruleList" class="rule-item" ng-class="{'rule-animation': rule.isNewRule}">
		<div class="rule-item-header">
			<div class="ruleTitle" title="{{rule.ruleGroup.title}}"
				 ng-bind="rule.ruleGroup.title"></div>
			<ul class="ruleOperator-wrap">
				<li class="iconfont icon-sort icon-button icon-reverse"
					ng-show="$index > 0" ng-click="$ctrl.ruleOperate('up', $index)"></li>
				<li class="iconfont icon-sort icon-button" ng-show="$index < $ctrl.ruleList.length - 1"
					ng-click="$ctrl.ruleOperate('down', $index)"></li>
				<li class="iconfont icon-edit icon-button"
					ng-click="$ctrl.editClick({index:$index})"></li>
				<li class="iconfont icon-trash icon-button"
					ng-click="$ctrl.ruleOperate('delete', $index)"></li>
				<li class="iconfont icon-copy icon-button" ng-click="$ctrl.ruleOperate('copy', $index)"></li>
				<li class="ruleOperator-expand" ng-show="!rule.ruleGroup.folding"
					ng-click="rule.ruleGroup.folding = true">
					展开
				</li>
				<li class="ruleOperator-expand" ng-show="rule.ruleGroup.folding"
					ng-click="rule.ruleGroup.folding = false">
					收起
				</li>
			</ul>
		</div>
		<div class="rule-itme-container" ng-hide="!rule.ruleGroup.folding">
			<div class="rule-itemlist-block">
				<p>满足全部条件：</p>
				<p class="conditions-title" ng-repeat="condition in rule.ruleGroup.conditions track by $index"
				   cc-bind-html="$ctrl.logicalWordColor(condition.title)" title="{{condition.title}}"></p>
			</div>
			<div class="rule-results-block">
				<p>变量表达式：</p>
				<p class="conditions-title" ng-bind="rule.expression"></p>
			</div>
		</div>
	</div>

</div>
