<section class="meta-data-section" ng-click="$ctrl.clickTheMetaData()">
	<!--==============INPUT==============-->
	<div ng-if="$ctrl.viewType === 'HIDE'" ng-show="false">
		<div class="wrap-text">
			<input ng-model="$ctrl.values[0]">
		</div>
	</div>
	<!--字符型输入-->
	<div ng-if="$ctrl.viewType === 'INPUT_STR'" class="meta-data-string">
		<span ng-if="$ctrl.logic !== '' && $ctrl.hideLogic !== 'true' ">
			<cc-dropdown-select class="dropdown-small"
								model="$ctrl.logic"
								datalist="$ctrl.stringLogics"
								onfocus="this.select()">
		</cc-dropdown-select>
		</span>

		<div class="wrap-text">
			<input ng-if="!$ctrl.validatorType" novalidate type="text" ng-style="{paddingRight: $ctrl.suffixPadding}" maxlength="50"
			 ng-model="$ctrl.values[0]" placeholder="{{$ctrl.placeholder}}" onfocus="this.select()" ng-disabled="$ctrl.disable" ng-change="$ctrl.valueChage()">
			<input ng-if="$ctrl.validatorType" type="text" ng-style="{paddingRight: $ctrl.suffixPadding}" maxlength="50" ng-model="$ctrl.values[0]"
			 placeholder="{{$ctrl.placeholder}}" cc-validator="{{$ctrl.validator}}" onfocus="this.select()" ng-disabled="$ctrl.disable">
			<span class="input-suffix">{{$ctrl.suffix}}</span>
		</div>
	</div>
	<!--浮点数字型输入-->
	<div ng-if="$ctrl.viewType === 'INPUT_FLOAT'" class="meta-data-number">
		<cc-dropdown-select 
			ng-if="$ctrl.logic !== ''" 
			class="dropdown-small" 
			model="$ctrl.logic" 
			datalist="$ctrl.numericLogic">
		</cc-dropdown-select>

		<div class="wrap-text" 
			ng-show="$ctrl.logic === '' || $ctrl.logic === 'LT' || $ctrl.logic === 'LE' || $ctrl.logic === 'EQ' || $ctrl.logic === 'NOTEQ' || $ctrl.logic === 'GT' || $ctrl.logic === 'GE' || $ctrl.logic === 'BETWEEN'">
			
			<input type="number" 
				ng-style="{paddingRight: $ctrl.suffixPadding}" 
				ng-model="$ctrl.values[0]" 
				ng-blur="$ctrl.inputFloat(0);$ctrl.checkTheMin()"
				onfocus="this.select()" step="0.01" />

			<span class="input-suffix">{{$ctrl.suffix}}</span>
		</div>

		<span class="segmentation" ng-show="$ctrl.logic === 'BETWEEN'">-</span>
		<div class="wrap-text" ng-show="$ctrl.logic === 'BETWEEN'">
			<input type="number" 
				ng-style="{paddingRight: $ctrl.suffixPadding}" 
				maxlength="100" 
				ng-model="$ctrl.values[1]" 
				ng-blur="$ctrl.inputFloat(1);$ctrl.checkTheMax()"
			 	onfocus="this.select()" step="0.01">
			<span class="input-suffix">{{$ctrl.suffix}}</span>
		</div>
	</div>
	<!--整数数字型输入-->
	<div ng-if="$ctrl.viewType === 'INPUT_INT'" class="meta-data-number">
		<cc-dropdown-select ng-if="$ctrl.logic !== '' && $ctrl.hideLogic !== 'true'" class="dropdown-small" model="$ctrl.logic" datalist="$ctrl.numericLogic">
		</cc-dropdown-select>
		<div class="wrap-text" ng-show="$ctrl.logic === '' || $ctrl.logic === 'LT' || $ctrl.logic === 'LE' || $ctrl.logic === 'EQ' || $ctrl.logic === 'NOTEQ' || $ctrl.logic === 'GT' || $ctrl.logic === 'GE' || $ctrl.logic === 'BETWEEN'">
			<input type="number" ng-style="{paddingRight: $ctrl.suffixPadding}" maxlength="100" ng-model="$ctrl.values[0]" ng-change="$ctrl.inputInteger(0)"
			 ng-blur="$ctrl.checkTheMin()" onfocus="this.select()">
			<span class="input-suffix">{{$ctrl.suffix}}</span>
		</div>
		<span class="segmentation" ng-show="$ctrl.logic === 'BETWEEN'">-</span>
		<div class="wrap-text" ng-show="$ctrl.logic === 'BETWEEN'">
			<input type="number" ng-style="{paddingRight: $ctrl.suffixPadding}" maxlength="100" ng-model="$ctrl.values[1]" ng-change="$ctrl.inputInteger(1)"
			 ng-blur="$ctrl.checkTheMax()" onfocus="this.select()">
			<span class="input-suffix">{{$ctrl.suffix}}</span>
		</div>
	</div>
	<!--==============RADIO==============-->
	<!--单项选择-->
	<div ng-if="$ctrl.viewType === 'RADIO'" class="radio">
		<div class="radio-item-wrap">
			<cc-radio class="radio-item" ng-repeat="logic in $ctrl.options" ng-model="$ctrl.values[0]" ng-value="logic.value" ng-click="$ctrl.metaClick()">{{logic.title}}
			</cc-radio>
		</div>
	</div>
	<!--==============CHECKBOX==============-->
	<!--==============SELECT==============-->
	<!--单项选择-->
	<div ng-if="$ctrl.viewType === 'SELECT'" class="meta-data-select">
		<cc-dropdown-select ng-if="$ctrl.logic !== '' && $ctrl.hideLogic !== 'true'" class="dropdown-small" model="$ctrl.logic" datalist="$ctrl.selectLogic">
		</cc-dropdown-select>
		<cc-dropdown-select class="dropdown-small" ng-style="{width: ($ctrl.optionsMax * 12 + 40) + 'px'}" model="$ctrl.values[0]"
		 datalist="$ctrl.options" on-select-change="$ctrl.valueChange({value: $ctrl.values[0]})">
		</cc-dropdown-select>
	</div>
	<!--==============SELECT_MULTI==============-->
	<div ng-if="$ctrl.viewType === 'SELECT_MULTI_CONTAINS'" class="flag">
		<cc-dropdown-select class="dropdown-small" model="$ctrl.logic" datalist="$ctrl.logicsForContains">
		</cc-dropdown-select>
		<div class="flag-itme-wrap">
			<span class="flagItem" ng-class="{'item-selected': flag.selected}" ng-click="$ctrl.clickFlagItem(flag)" ng-repeat="flag in $ctrl.options">
				<span cc-bind-html="flag.title"></span>
			</span>
			<!--<span ng-class="{'item-selected': $ctrl.noFlag}"-->
			<!--class="flagItem"-->
			<!--ng-click="$ctrl.clickNoFlag($ctrl.options)"><span class="title">无旗帜</span></span>-->
		</div>
	</div>
	<!--==============SELECT_MULTI==============-->
	<div ng-if="$ctrl.viewType === 'SELECT_MULTI_ANY' || $ctrl.viewType === 'SELECT_MULTI'" class="flag">
		<cc-dropdown-select class="dropdown-small" model="$ctrl.logic" datalist="$ctrl.logicsForAny">
		</cc-dropdown-select>
		<div class="flag-itme-wrap">
			<span class="flagItem" ng-class="{'item-selected': flag.selected}" ng-click="$ctrl.clickFlagItem(flag)" ng-repeat="flag in $ctrl.options">
				<span cc-bind-html="flag.title"></span>
			</span>
			<!--<span ng-class="{'item-selected': $ctrl.noFlag}"-->
			<!--class="flagItem"-->
			<!--ng-click="$ctrl.clickNoFlag($ctrl.options)"><span class="title">无旗帜</span></span>-->
		</div>
	</div>
	<!--==============GOODS==============-->
	<!--商品选择器-->
	<div ng-if="$ctrl.viewType === 'GOODS'" class="goods">
		<cc-dropdown-select ng-if="$ctrl.logic !== '' && $ctrl.hideLogic !== 'true'" class="dropdown-small" model="$ctrl.logic" datalist="$ctrl.flagLogic">
		</cc-dropdown-select>
		<!--<goods-selector selected-goods="selectedGoods" on-change="sureAdd()"></goods-selector>-->
		<input class="good-input" type="text" ng-value="$ctrl.values.length ? ('已选择'+ $ctrl.values.length + '个商品') : '请选择'" ng-click="$ctrl.openGoodSelector()">
		<!--<div class="wrap-text">-->
		<!--<input type="text" ng-style="{paddingRight: $ctrl.suffixPadding}" maxlength="50"-->
		<!--ng-model="$ctrl.values[0]"-->
		<!--placeholder="{{$ctrl.placeholder}}"-->
		<!--onfocus="this.select()">-->
		<!--<span class="input-suffix">{{$ctrl.suffix}}</span>-->
		<!--</div>-->
	</div>
	<!--==============SHOP==============-->
	<!--==============时间==============-->
	<!--时间选择-组件型-->
	<div ng-if="$ctrl.viewType === 'DATE_UNI_ALL' || $ctrl.viewType === 'DATETIME'" class="meta-data-date">
		<cc-dropdown-select class="dropdown-small" model="$ctrl.logic" datalist="$ctrl.timeLogics" ng-if="$ctrl.logic !== '' && $ctrl.hideLogic !== 'true'">
		</cc-dropdown-select>
		<div class="wrap-date-container" ng-if="$ctrl.logic !== 'BETWEEN'">
			<div class="wrap-date" ng-if="$ctrl.logic === 'BETWEEN'">
				<cc-date-picker class="date-uni-all" ng-model="$ctrl.values[0]" date-only="false" disabled="false"></cc-date-picker>
				<cc-date-picker ng-if="!$ctrl.validatorType" class="date-uni-all" ng-model="$ctrl.values[0]" date-only="false" disabled="false"></cc-date-picker>
			</div>
			<span class="segmentation" ng-show="$ctrl.logic === 'BETWEEN'">到</span>
			<div class="wrap-date" ng-if="$ctrl.logic === 'EQ' ||$ctrl.logic === 'NOTEQ'|| $ctrl.logic === 'LT'|| $ctrl.logic === 'GT'  || $ctrl.logic === 'GE' || $ctrl.logic === 'LE'">
				<cc-date-picker class="date-uni-all" ng-model="$ctrl.values[0]" date-only="false" disabled="false"></cc-date-picker>
			</div>
		</div>
		<div class="wrap-date-container" ng-if="$ctrl.logic === 'BETWEEN'">
			<cc-date-range opts="$ctrl.dateRange" on-calendar-close="$ctrl.checkTheMetaDataInput()"></cc-date-range>
		</div>
	</div>
	<!--时间选择-组件型-->
	<div ng-if="$ctrl.viewType === 'DATE_UNI_YMD' || $ctrl.viewType === 'DATE'" class="meta-data-date">
		<cc-dropdown-select class="dropdown-small" model="$ctrl.logic" datalist="$ctrl.timeLogics" ng-if="$ctrl.logic !== '' && $ctrl.hideLogic !== 'true'">
		</cc-dropdown-select>
		<div class="wrap-date-container" ng-if="$ctrl.logic !== 'BETWEEN'">
			<div class="wrap-date" ng-if="$ctrl.logic === '' || $ctrl.logic === 'EQ' || $ctrl.logic === 'NOTEQ' || $ctrl.logic === 'GT' || $ctrl.logic === 'GE' || $ctrl.logic === 'BETWEEN'">
				<cc-date-picker class="date-uni-ymd" ng-model="$ctrl.values[0]" date-only="true" max-date="$ctrl.dateMax" disabled="false"></cc-date-picker>
			</div>
			<span class="segmentation" ng-show="$ctrl.logic === 'BETWEEN'">到</span>
			<div class="wrap-date" ng-if="$ctrl.logic === 'LT' || $ctrl.logic === 'LE' || $ctrl.logic === 'BETWEEN'">
				<cc-date-picker class="date-uni-ymd" ng-model="$ctrl.values[1]" date-only="true" disabled="false"></cc-date-picker>
			</div>
		</div>
		<div class="wrap-date-container" ng-if="$ctrl.logic === 'BETWEEN'">
			<cc-date-range opts="$ctrl.dateRange"></cc-date-range>
		</div>
	</div>
	<!--时间选择-三输入框-->
	<div ng-if="$ctrl.viewType === 'DATE_SEP_YMD'" class="meta-data-date">
		<cc-dropdown-select class="dropdown-small" model="$ctrl.timeLogic" datalist="$ctrl.timeLogics" ng-if="$ctrl.logic !== '' && $ctrl.hideLogic !== 'true'">
		</cc-dropdown-select>
		<div class="wrap-date-container">
			<div class="wrap-date" ng-if="$ctrl.logic === 'EQ' || $ctrl.logic === 'NOTEQ' || $ctrl.logic === 'GT' || $ctrl.logic === 'GE' || $ctrl.logic === 'BETWEEN'">
				<cc-dropdown-select class="dropdown-mini" model="$ctrl.year" datalist="$ctrl.years">
				</cc-dropdown-select>
				年
				<cc-dropdown-select class="dropdown-mini" model="$ctrl.mounth" datalist="$ctrl.mounths">
				</cc-dropdown-select>
				月
				<cc-dropdown-select class="dropdown-mini" model="$ctrl.day" datalist="$ctrl.days">
				</cc-dropdown-select>
				日 之后
			</div>
			<div class="wrap-date" ng-if="$ctrl.logic === 'LT' || $ctrl.logic === 'LE' || $ctrl.logic === 'BETWEEN'">
				<cc-dropdown-select class="dropdown-mini" model="$ctrl.year" datalist="$ctrl.years">
				</cc-dropdown-select>
				年
				<cc-dropdown-select class="dropdown-mini" model="$ctrl.mounth" datalist="$ctrl.mounths">
				</cc-dropdown-select>
				月
				<cc-dropdown-select class="dropdown-mini" model="$ctrl.day" datalist="$ctrl.days">
				</cc-dropdown-select>
				日 之前
			</div>
		</div>
	</div>
	<!--时间选择-二输入框-->
	<div ng-if="$ctrl.viewType === 'DATE_SEP_MD'" class="meta-data-date">
		<cc-dropdown-select ng-if="$ctrl.logic !== ''" class="dropdown-small" model="$ctrl.logic" datalist="$ctrl.timeLogics" ng-if="$ctrl.logic !== '' && $ctrl.hideLogic !== 'true'">
		</cc-dropdown-select>
		<div class="wrap-date-container">
			<div class="wrap-date">
				<le-year-month-picker no-year="true" date=$ctrl.values[0]></le-year-month-picker>
			</div>
		</div>
	</div>
	<!--==============FLAG==============-->
	<!--旗帜选择-->
	<div ng-if="$ctrl.viewType === 'FLAG'" class="flag">
		<cc-dropdown-select class="dropdown-small" model="$ctrl.logic" datalist="$ctrl.flagLogic">
		</cc-dropdown-select>
		<div class="flag-itme-wrap">
			<span class="flagItem" ng-class="{'item-selected': flag.selected}" ng-click="$ctrl.clickFlagItem(flag)" ng-repeat="flag in $ctrl.options">
				<span cc-bind-html="flag.title"></span>
			</span>
			<!--<span ng-class="{'item-selected': $ctrl.noFlag}"-->
			<!--class="flagItem"-->
			<!--ng-click="$ctrl.clickNoFlag($ctrl.options)"><span class="title">无旗帜</span></span>-->
		</div>
	</div>
</section>