.year-month{
	display: flex;
	align-items: center;
	width: 190px;
	justify-content: space-around;
	.year-select{
		width: 80px;
		display: inline-block;
	}

	.month-select{
		width: 70px;
		display: inline-block;
	}

	.day-select{
		width: 80px;
		display: inline-block;
        vertical-align: middle;
		height: 30px;
	}
}
