<div class="year-month">

	<cc-dropdown-select
			ng-if="!$ctrl.noYear"
			class="year-select"
			placeholder="{{$ctrl.holderMsg.year}}"
			model="$ctrl.year"
			on-select-change="$ctrl.chooseYearMonthDay(model, 'year')"
			datalist="$ctrl.yearList">
	</cc-dropdown-select>
	<span ng-if="!$ctrl.noYear">年</span>
	<cc-dropdown-select
			class="month-select"
			placeholder="{{$ctrl.holderMsg.month}}"
			model="$ctrl.month"
			on-select-change="$ctrl.chooseYearMonthDay(model, 'month')"
			datalist="$ctrl.monthList">
	</cc-dropdown-select>
	<span>月</span>
	<le-day-picker
			class="day-select"
			direction="{{$ctrl.direction}}"
			choose-day="$ctrl.days"
			mulitiple="false"
			day-list="$ctrl.dayList"
			on-select-change="$ctrl.format(day)">
	</le-day-picker>
	<span>日</span>
</div>
