.config-main-container {
	.sub-title {
		a {
			margin-left: 15px;
		}
		margin: 20px;
	}
	.configOpts {
		.config-item {
			display: inline-block;
			background: #fdfdfd;
			border: 1px solid #e3e3e3;
			border-radius: 2px;
			padding: 0 4px;
			min-width: 58px;
			height: 24px;
			line-height: 22px;
			text-align: center;
			margin: 4px;
		}
		.show {
			color: #0083ba;
		}
		.hide {
			color: #999999;
			//&:after {
			//	content: '[隐藏]';
			//}
		}
	}
	le-folding-bar-container {
		& + le-folding-bar-container {
			margin-top: 20px;
			display: block;
			//.folding-bar-container {
			//	margin-top: 20px;
			//}
		}
		.folding-bar-content {
			padding: 30px;
			border: 1px #eeeeee solid;
		}
		.fieldset-buttons {
			clear: left;
			display: block;
			width: 374px;
			.btn-ok, .btn-cancel {
				float: right;
				margin-top: 15px;
				margin-left: 15px;
			}
		}

		.codeStyle-textarea {
			margin-left: 50px;
		}
		fieldset {
			.radio-wrap {
				display: inline-block;
				min-width: 250px;
				height: 30px;
				line-height: 30px;
				cc-radio + cc-radio {
					margin-left: 15px;
				}
			}
			.description {
				margin-left: 20px;
				color: #b8b8b8;
			}
			.shopSelect {
				display: inline-block;
				position: relative;
				width: 215px;
				cursor: pointer;
				input {
					cursor: pointer;
				}
				&:after {
					content: '...';
					display: inline-block;
					position: absolute;
					background: #f9f9f9;
					width: 27px;
					height: 28px;
					right: 1px;
					top: 1px;
					text-align: center;
					color: #999999;
				}
			}
		}
		fieldset + fieldset {
			margin-top: 10px;
		}
	}
	.shopManage {
		margin: 20px;
		ul {
			border-left: #eeeeee 1px solid;
			padding-left: 3px;
		}
		ul > ul {
			margin-left: 30px;
		}
		li {
			margin-top: 5px;
		}
		.user-manage {
			li {
				margin-top: 10px;
				line-height: 30px;
				a + button {
					float: right;
				}
			}
		}
		.folding-bar-content {
			.btn-wrap {
				margin: 10px;
			}
			.wrap {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				.shopItem {
					flex: 1 0 300px;
					border: 1px solid #eeeeee;
					margin: 10px;

					a {
						color: #666666;
					}
					.shop-caption {
						padding: 10px;
						border-bottom: 1px solid #eeeeee;
						cursor: pointer;
						background-color: #eeeeee;
						margin-top: 0;
					}
					.shop-detail {
						padding: 10px;
					}
				}
			}
		}

	}

}
