<div class="config-main-container">
	<header class="head-title-container">
		<span class="mainTitle">运营管理</span>
	</header>
	<le-folding-bar-container expand="$ctrl.storeExpand" class="shopManage" title-name='运营管理配置现状总览' style="width: 500px">
		<div class="wrap configOpts" style="height: 600px">
			<cc-grid opts="$ctrl.configOpts"></cc-grid>
		</div>
		<div class="wrap">
			<div class="shopItem" ng-repeat="shop in $ctrl.shopManage">
				<li class="shop-caption" ng-click="shop.expand = !shop.expand; shop.expand && shop.loadShopDetailFn()"><a href="">{{shop.caption}}</a></li>
				<ul class="shop-detail" ng-show="shop.expand" ng-repeat="shopPlan in shop.shopPlan">
					<li><a href="">{{shopPlan.caption}}</a></li>
					<ul>
						<li><a href="">等级计划列表</a></li>
						<ul ng-repeat="gradPlan in shopPlan.plans.gradPlan">
							<li><a href="">{{gradPlan.caption}}</a></li>
							<ul>
								<li ng-repeat="grad in gradPlan.gradList"><a href="">{{grad.caption}}</a></li>
							</ul>
						</ul>
						<li><a href="">积分计划</a></li>
						<ul ng-repeat="point in shopPlan.plans.pointPlan">
							<li><a href="">{{point.caption}}</a></li>
							<ul>
								<li><a href="">积分名:{{point.viewCaption}}</a></li>
								<li ng-show="point.gatherCaption"><a href="">绑定集团卡积分名:{{point.gatherCaption}}</a></li>
							</ul>
						</ul>
					</ul>
				</ul>
			</div>
		</div>
	</le-folding-bar-container>
	<div class="sub-title">
		<a ng-click="$ctrl.expand($ctrl.configArry)">全部折叠</a> <a ng-click="$ctrl.expand($ctrl.configArry, true)">全部展开</a>
	</div>
	<le-folding-bar-container expand="config.expand" title-name='{{$index + 1}} {{config.girdCaption}}' ng-repeat="config in $ctrl.configArry">
		<form class="form-wrapper" tooltip-type="major" name="$ctrl.formName">
			<fieldset ng-show="!config.codeStyle" ng-repeat="item in config.columnsDef">
				<label >{{item.caption || item.description}}:</label>
				<input ng-focus="item.showDescription = true" ng-blur="item.showDescription = false" ng-if="!item.option && !item.shopSelect" type="text" ng-model="item.value" cc-validator required placeholder="必填">
				<span ng-mouseover="item.showDescription = true" ng-mouseleave="item.showDescription = false" ng-if="item.option" class="radio-wrap">
					<cc-radio ng-repeat="radio in item.option track by $index" ng-model="item.value" ng-value="radio.value" >{{radio.title}}</cc-radio>
				</span>
				<span ng-if="item.shopSelect">
					<div class="shopSelect">
						<input type="text" placeholder="请选择..." ng-click="$ctrl.openShopSelector(item, config)" ng-value="item.valueCaption">
					</div>
				</span>
				<span ng-show="item.showDescription" class="description">{{item.description}}</span>
			</fieldset>
			<textarea class="codeStyle-textarea" ng-show="config.codeStyle" cols="50" rows="{{config.onlyCodeStyle ? 10 : 4}}" ng-model="config.parmString"></textarea>
			<fieldset class="fieldset-buttons">
				<button  class="btn-ok" ng-click="$ctrl.submit(config)">确认</button>
				<button type="reset" class="btn-cancel" ng-click="$ctrl.reset(config)">重置</button>
				<button ng-hide="config.onlyCodeStyle" class="btn-cancel" ng-click="$ctrl.switchCodeStyle(config)">{{config.codeStyle ? '表单': '代码'}}</button>
			</fieldset>
		</form>
	</le-folding-bar-container>
</div>
