.integral-valids-settings-block{
	margin: 16px 20px;

	cc-radio + cc-radio{
		display: block;
		margin-top: 20px;
	}
	.input-small{
		width: 56px;
		margin-right: 5px;
	}
	.cycle-selection{
		width: 48px;
		margin-right: 13px;
	}
	.dropdown-select{
		min-width: 56px;
	}
	.radio-button-label{
		display: flex;
		align-items: center;
		.sep{
			margin-right: 8px;
		}
	}
}
