<div class="integral-valids-settings-block" ng-if="!$ctrl.simple">
	<form>
		<!--<cc-radio ng-model="$ctrl.timeConfigType" ng-value="1" >当年12月31日失效</cc-radio>-->
		<cc-radio ng-model="$ctrl.timeConfigType" ng-value="2">
			<input type="number" class="input-small"
				   ng-model="$ctrl.interval_2"
				   cc-validator
				   ng-required="$ctrl.timeConfigType === 2"
				   pattern=^[0-9]*$
				   min="1" max="999"
				   max-msg="请输入1-999之间的值"
				   min-msg="请输入1-999之间的值">
			<cc-dropdown-select class="cycle-selection" model="$ctrl.intervalTimeUnit"
								datalist="$ctrl.intervalTimeUnits">
			</cc-dropdown-select>
			后失效
		</cc-radio>
		<cc-radio ng-model="$ctrl.timeConfigType" ng-value="3">
			<le-meta-data-input view-type="SELECT"
								values="$ctrl.interval_3_Ary"
								options="$ctrl.selectList2"></le-meta-data-input>
			<span class="sep">的</span>
			<le-year-month-picker ng-hide="$ctrl.interval_3_Ary[0] === 0" no-year="true" date="$ctrl._timeConfigObj.fixValue"></le-year-month-picker>
			<span ng-show="$ctrl.interval_3_Ary[0] === 0">12月31日&nbsp</span>
			<span>失效</span>
		</cc-radio>
		<cc-radio ng-model="$ctrl.timeConfigType" ng-value="4">永久有效</cc-radio>
	</form>
</div>

<div class="integral-valids-settings-block" ng-if="$ctrl.simple">
	<form>
		<cc-radio ng-model="$ctrl.timeConfigType" ng-value="4">永久有效</cc-radio>
		<cc-radio ng-model="$ctrl.timeConfigType" ng-value="2">
			自发放之日起
			<input type="number" class="input-small"
				   ng-model="$ctrl.interval_2"
				   cc-validator
				   ng-required="$ctrl.timeConfigType === 2"
				   pattern=^[0-9]*$
				   min="1">
			<cc-dropdown-select class="cycle-selection" model="$ctrl.intervalTimeUnit"
								datalist="$ctrl.intervalTimeUnits">
			</cc-dropdown-select>
			有效
		</cc-radio>
	</form>
</div>
