.loginContainerBody {
	min-width: 486px;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	z-index: 300;
}
a{
	text-decoration: none;
}
.wrap-header {
	background: linear-gradient(#186493, #13547E);
	height: 56px;
	z-index: 300;
}
.wrap-header .shuyun-logo {
	background: url("../../portal/shuyun-logo.png") no-repeat;
	width: 117px;
	height: 56px;
	float: left;
}
.wrap-header .nav {
	height: 56px;
	width: 96px;
	float: left;
	background: linear-gradient(#175982, #04121B);
	line-height: 56px;
	text-align: center;
	color: #33b5e5;
	font-weight: bold;
}
.wrap-header .aside {
	height: 56px;
	width: 150px;
	float: right;
	line-height: 56px;
	text-align: center;
	color: #51b1d5;
}
.wrap-header .signOut {
	margin-left: 20px;
	cursor: pointer;
}


input {
	width: 220px;
}
#sign{
	width: 220px;
	height: 30px;
	padding: 0 8px;
	box-sizing: border-box;
	border: 1px solid #d9d9d9;
}
footer{
	font-size: 10px;
	color: #FFFFFF;
	position: absolute;
	bottom: 80px;
	left: 50%;
	transform: translate(-50%, 0);
}
.w1000 {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.login-wrapper {
	width: 451px;
	margin: 169px auto 0;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: -1;
}
.footer {
	position: absolute;
	z-index: 10;
	bottom: 15px;
	left: 19px;
	right: 0;
}
.footer .contactNum {
	color: #fff;
	font-family: "微软雅黑";
	font-size: 12px;
	margin-bottom: -2px;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.footer .markInfo {
	color: #fff;
	font-size: 11px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	font-family: verdana;
}

.content {
	position: relative;
	z-index: 100;
}

.loginBox {
	z-index: 10;
	position: absolute;
	left: 71px;
	top: 80px;
}

.loginBoxBg {
	background: #000;
	width: 451px;
	height: 300px;
	opacity: 0.41;
	filter: alpha(opacity=41);
	z-index: 1;
	position: absolute;
	border-radius: 2px;
}

.loginBox p {
	color: #d8d8d8;
	font-size: 16px;
	font-family: "微软雅黑";
	margin-bottom: 18px;
	font-weight: 900;
	opacity: 0.45;
	filter: alpha(opacity=45);
}

.tenant-id i,
.userPassWord i {
	background: url(images/loginImgs.png) no-repeat 0 0;
}

.tenant-id,
.userPassWord {
	position: relative;
	width: 279px;
	height: 39px;
}

.tenant-id input,
.userPassWord input {
	padding-left: 31px;
	margin: 0;
	height: 38px;
	width: 274px;
	border-radius: 2px;
	background: rgb(250, 255, 189);
}

.tenant-id input.error,
.userPassWord input.error {
	border-color: #ff3000;
}

.tenant-id {
	margin-bottom: 10px;
}

.tenant-id i,
.userPassWord i {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 6px;
	left: 6px;
}

.tenant-id i {
	background-position: -280px 8px;
}

.userName i,
.userPassWord i {
	background: url(images/loginImgs.png) no-repeat 0 0;
}


.userName,
.userPassWord {
	position: relative;
	width: 279px;
	height: 39px;
}

.userName input[type=text],
.userPassWord input {
	padding: 0 0 0 31px;
	margin: 0;
	height: 38px;
	width: 274px;
	border-radius: 2px;
	background: rgb(250, 255, 189);
	box-sizing: inherit;
}

.userName input.error,
.userPassWord input.error {
	border-color: #ff3000;
}

.userName {
	margin-bottom: 10px;
}

.userName i,
.userPassWord i {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 6px;
	left: 6px;
}

.userName i {
	background-position: -280px 8px;
}

.userPassWord i {
	background-position: -280px -38px;
}

.record {
	margin-bottom: 26px;
	color: #FFFFFF;
}

.record input {
	margin-right: 5px;
	vertical-align: middle;
}
.login-title{
	position: absolute;
	color: #fff;
	font-size: 16px;
	top: -48px;
}

.subBtn a {
	width: 308px;
	height: 46px;
	margin-top: 26px;
	line-height: 46px;
	text-align: center;
	overflow: hidden;
	font-size: 14px;
	color: #ffffff;
	font-family: "微软雅黑";
	display: block;
	background-image: linear-gradient(#7cbd54, #71ae4c);
	border-radius: 2px;
}

.subBtn a:hover,
.subBtn a:active {
	background-image: linear-gradient(#86cc5a, #7cbd53);
	text-decoration: none;
}

.subBtn a.cur {
	background-image: linear-gradient(#7cbd54, #71ae4c);
}

.loading {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.loading-bg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #cccccc;
	opacity: 0.3;
	z-index: 110;
}

.loading-content {
	position: absolute;
	left: 48%;
	top: 50%;
	color: #626262;
	z-index: 120;
}

.loading i {
	display: inline-block;
	margin-right: 5px;
	background: url(images/loading.gif) no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.errorMark {
	position: absolute;
	top: -22px;
	left: 13px;
	color: #ff6541;
	padding: 0 4px;
	font-size: 12px;
}

.errorMark div {
	position: absolute;
	top: 4px;
	left: -12px;
	width: 12px;
	height: 12px;
	background: url("images/all.png") -2px -823px no-repeat;
}
