<div class="btnContainer">
	<div class="btnRow" ng-repeat="content in $ctrl.contents">
		<span class="btnRow-title" ng-bind="content.caption"></span>
		<span class="btn-item variable__{{content.name}}_-_-_{{variable.id}}"
			  ng-repeat="variable in content.variables"
			  ng-show="!$ctrl.currentSchemaId || (variable.type !== 'system' || variable.schemaId === $ctrl.currentSchemaId)"
			  ng-class="{'variable-item': (content.name === 'custom' || content.name === 'system')}"
			  ng-mouseenter="(content.name === 'custom' || content.name === 'system') && ($ctrl.addActiveVariableItem(variable, content.name))"
			  ng-mouseleave="(content.name === 'custom' || content.name === 'system') && ($ctrl.clearAllActiveVariableItem())"
			  ng-click="$ctrl.insertExpressionContent({variable: variable});$ctrl.addActiveVariableItem(variable, content.name)"
			  ng-bind="variable.caption"></span>
	</div>
</div>
