$padding-left: 20px;
$padding-right: 20px;

.day-picker {
	width: 100%;
	display: inline-block;
	.left {
		left: 0
	}

	.right {
		right: 0;
	}

	.day-picker-days {
		position: absolute;
		left: 0;
		z-index: 1;
		box-sizing: border-box;
		width: 236px;
		padding: 14px 4px;
		list-style: none;
		border: 1px solid #d9d9d9;
		background-color: #fff;
		line-height: 24px;
		font-size: 12px;

		.day-picker-days-ul {

			.day-picker-days-li {
				float: left;
				list-style: none;
				border: 1px solid #fff;
				cursor: pointer;
				margin: 1px;
				width: 28px;
				text-align: center;
			}

			.day-picker-days-li:hover {
				border-color: #aacbe1;
			}

			.active {
				background: #fff;
				border-color: #aacbe1;
				color: #0083ba;
			}
		}

		.day-picker-buttons {
			// overflow: auto;
			width: 100%;
			padding: 8px 0;
			text-align: right;
			display: inline-block;

			.day-picker-btn-small {
				font-size: 12px;
				height: 24px;
				min-width: 64px;
				padding-left: .75em;
				padding-right: .75em;
			}

			.day-picker-btn-reset {
				font-size: 12px;
				height: 24px;
				display: inline-block;
				min-width: 46px;
				padding-left: .75em;
				padding-right: .75em;
				text-align: center;
				cursor: pointer;
			}
		}
	}
}
