<div>
<form class="form-wrapper" tooltip-type="major" name="app.hhh">
	<div>本次筛选结果含999位会员</div>
	<div class="form-group">
		<label for="info" class="control-label">营销活动名称:</label>
		<div class="control-input">
			<input type="text" id="info" ng-model="info" cc-validator required placeholder="请输入营销活动名称" required-msg="必填">
		</div>
	</div>
	<div class="form-group">
		<label for="info1" class="control-label">营销节点名称:</label>
		<div class="control-input">
			<input type="text" id="info1" ng-model="info1" cc-validator required placeholder="请输入营销节点名称" required-msg="必填">
		</div>
	</div>
	<div class="form-group">
		<label for="info2" class="control-label">节点备注:</label>
		<div class="control-input top">
			<textarea id="info2" required placeholder="请输入节点备注" ng-model="info2" cc-validator required-msg="必填"></textarea>
		</div>
	</div>
</form>
</div>
