<section class="level-rules-main-container">
	<header class="head-title-container">
		<span class="mainTitle">等级规则</span>
		<cc-switch class="switch" open-text=" 已开启" close-text=" 已关闭" ng-if="$ctrl.showContent" class="switch" ng-model="$ctrl.setting.ruleEnabled"
		 ng-click="$ctrl.clickTheSwitch()"></cc-switch>
	</header>
	<div ng-if="!$ctrl.showContent" class="leLoading">
		<cc-loading></cc-loading>
	</div>
	<section ng-if="$ctrl.showContent" class="basic-seting-block">
		<form name="$ctrl.basicInput" tooltip-type="minor" tooltip-placement="bottom">
			<input ng-show="false" type="email" ng-model="this.hideInputForValidatorBug" cc-validator>
			<!--div class="input-row">
				<label class="label">规则执行时间:</label>
				<div class="wrap-inline-block">
					<le-time-input ng-if="$ctrl.setting" time="$ctrl.setting.startTime" show="$ctrl.showStartTime" close="$ctrl.missError()"></le-time-input>
				</div>
			</div-->
			<div class="input-row">
				<label class="label">数据统计范围:</label>
				<div class="wrap-inline-block">
					<le-meta-data-input view-type="RADIO" values="$ctrl.rangType" options="$ctrl.selectTypeList"></le-meta-data-input>
					<!--固定开始时间-->
					<div class="wrap" ng-if="$ctrl.rangType[0] === 'ABSOLUTE'">
						<cc-date-picker ng-model="$ctrl.absoluteTime" class="date-picker-date" date-only="true" required="true" required-msg="请填写固定开始时间！"
						 disabled="false" cc-validator></cc-date-picker>
						<span class="toToday">至今</span>
					</div>
					<!--滚动开始时间-->
					<div class="wrap" ng-if="$ctrl.rangType[0] === 'FIX_RELATIVE'">
						<le-meta-data-input view-type="SELECT" values="$ctrl.fixRelativeInterval" options="$ctrl.selectList2"></le-meta-data-input>
						<le-year-month-picker ng-hide="$ctrl.fixRelativeInterval[0] === 0" no-year="true" date="$ctrl.fixValue"></le-year-month-picker>
						<span ng-show="$ctrl.fixRelativeInterval[0] === 0">的 01月01日</span>
						<span class="toToday">至今</span>
					</div>
					<!--滚动统计周期-->
					<div class="wrap" ng-if="$ctrl.rangType[0] === 'RELATIVE'">
						<input style="margin-right: 10px" class="input-medium" type="number" min="1" max="999" max-msg="请输入1-999之间的值" min-msg="请输入1-999之间的值"
						 ng-model="$ctrl.relativeInterval[0]" required cc-validator required-msg="不能为空" tooltip-placement="bottom" />
						<le-meta-data-input view-type="SELECT" values="$ctrl.relativeUnit" options="$ctrl.selectList3"></le-meta-data-input>
						<span class="sufix">前</span>
						<span class="toToday">至今</span>
					</div>


				</div>
			</div>

		</form>
	</section>
	<section ng-if="$ctrl.showContent && !$ctrl.SIMPLE" class="grid">
		<le-folding-bar-container ng-if="($ctrl.showLowestGradeRuleConfig || $index !== 0)" title-name='Lv.{{$index}} {{rule.title}}'
		 ng-repeat="rule in $ctrl.rules">
			<div class="rule-itme-container" 
				ng-mouseleave="$ctrl.noShow = false; $ctrl.stop = false;" 
				ng-mouseenter="$ctrl.showFloatBlock = false;">
				<div class="rule-itemlist-block" ng-if="$index === 0">
					<p class="rule-itemlist-block-title">最低等级无需升级规则和保级规则</p>
				</div>
				<div class="rule-itemlist-block" ng-if="$index !== 0">
					<p class="rule-itemlist-block-title">升级至{{rule.title}}</p>
					<div class="rule-itme-wrap" ng-class="{'mouse-hover': condition.hover}" ng-repeat="condition in rule.ruleGroup.update track by $index">
						<div class="rule-itme-wrap-wrap">
							<span class="conditions-title" ng-bind="condition.title" ng-click=" $ctrl.noShow = false" ng-mouseenter="$ctrl.mouseenterConditionTitle(condition, $event)"
							 ng-mousemove="$ctrl.mousemoveConditionTitle(condition, $event, rule.ruleGroup.update)" ng-mouseleave="$ctrl.mouseleaveConditionTitle(condition)"></span>
							<ul class="conditions-icons">
								<li class="iconfont icon-sort icon-button icon-reverse" ng-show="$index > 0" ng-click="$ctrl.ruleOperate('up', rule, $index, 'update', rule.ruleGroup.update)"></li>
								<li class="iconfont icon-sort icon-button" ng-show="$index < rule.ruleGroup.update.length - 1" ng-click="$ctrl.ruleOperate('down', rule, $index, 'update', rule.ruleGroup.update)"></li>
								<li class="iconfont icon-copy icon-button" ng-click="$ctrl.ruleOperate('copy', rule, $index, 'update', rule.ruleGroup.update)"></li>
								<li class="iconfont icon-trash icon-button" title="删除此规则" ng-click="$ctrl.ruleOperate('delete', rule, $index, 'update', rule.ruleGroup.update)"></li>
								<li class="iconfont icon-edit icon-button" title="编辑此规则" ng-click="$ctrl.ruleOperate('edit', rule, $index, 'update', rule.ruleGroup.update)"></li>
							</ul>
						</div>
					</div>
					<span class="add-rule-btn icon-button" 
						ng-click="$ctrl.ruleOperate('new', rule, _, 'update', rule.ruleGroup.update)">+添加规则</span>

				</div>
				<div class="rule-itemlist-block" ng-if="$index !== 0">
					<p class="rule-itemlist-block-title">保级至{{rule.title}}</p>
					<div ng-if="!rule.baodi" class="rule-itme-wrap" ng-class="{'mouse-hover': condition.hover}" ng-repeat="condition in rule.ruleGroup.keeping track by $index">
						<div class="rule-itme-wrap-wrap">
							<span class="conditions-title" ng-bind="condition.title" ng-click=" $ctrl.noShow = false" ng-mouseenter="$ctrl.mouseenterConditionTitle(condition, $event)"
							 ng-mousemove="$ctrl.mousemoveConditionTitle(condition, $event, rule.ruleGroup.keeping)" ng-mouseleave="$ctrl.mouseleaveConditionTitle(condition)"></span></span>
							<ul class="conditions-icons">
								<li class="iconfont icon-sort icon-button icon-reverse" ng-show="$index > 0" ng-click="$ctrl.ruleOperate('up', rule, $index, 'keeping', rule.ruleGroup.keeping)"></li>
								<li class="iconfont icon-sort icon-button" ng-show="$index < rule.ruleGroup.keeping.length - 1" ng-click="$ctrl.ruleOperate('down', rule, $index, 'keeping', rule.ruleGroup.keeping)"></li>
								<li class="iconfont icon-copy icon-button" ng-click="$ctrl.ruleOperate('copy', rule, $index, 'keeping', rule.ruleGroup.keeping)"></li>
								<li class="iconfont icon-trash icon-button" title="删除此规则" ng-click="$ctrl.ruleOperate('delete', rule, $index, 'keeping', rule.ruleGroup.keeping)"></li>
								<li class="iconfont icon-edit icon-button" title="编辑此规则" ng-click="$ctrl.ruleOperate('edit', rule, $index, 'keeping', rule.ruleGroup.keeping)"></li>
							</ul>
						</div>
					</div>
					<span ng-if="!rule.baodi" class="add-rule-btn icon-button" ng-if="$index !== 0" ng-click="$ctrl.ruleOperate('new', rule, _, 'keeping', rule.ruleGroup.keeping)">+添加规则</span>
					<div ng-if="rule.baodi" class="rule-itme-wrap conditions-tip">
						<span>保底等级无需保级规则</span>
					</div>
				</div>
			</div>
		</le-folding-bar-container>
	</section>
	<section ng-if="$ctrl.showContent && !$ctrl.SIMPLE" 
		class="fixed-float-block" 
		ng-show="$ctrl.showFloatBlock" 
		ng-style="{left: $ctrl.x + 'px', top: $ctrl.y + 'px'}"
		ng-mousemove="$ctrl.stopFloat($event)" 
		ng-mouseleave="$ctrl.blockmouseleave($event)" 
		ng-click="$ctrl.floatBlockclick($event)">
			<div class="wrap">
				<p class="title">满足全部条件</p>
				<p cc-bind-html="$ctrl.showing.rules"></p>
			</div>
			<div class="sep"></div>
			<div class="wrap">
				<p class="title">等级有效期</p>
				<p>{{$ctrl.showing.validity}}</p>
			</div>
			<span class="tip">点击消失</span>
	</section>

	<section ng-if="$ctrl.showContent && $ctrl.SIMPLE && $ctrl.gridObj" class="gridSimple">
		<cc-grid class="visible-grid" opts="$ctrl.levelRulesSimpleSetting" style="height: 612px"></cc-grid>
	</section>


	<footer ng-if="$ctrl.showContent" class="foot-container">
		<span class="save-open-points" ng-class="{disabled: $ctrl.setting.ruleEnabled }" ng-click="!$ctrl.setting.ruleEnabled && $ctrl.save(true)">保存并开启</span>
		<button class="btn-ok btn-save" ng-click="$ctrl.save()">保存</button>
		<button class="btn-cancel" ng-click="$ctrl.reset()">重置</button>
	</footer>
</section>
