<section class="group-card-main-container">
	<header class="head-title-container">
		<span class="mainTitle">集团卡管理</span>
	</header>
	<div ng-if="!$ctrl.showContent" class="leLoading">
		<cc-loading></cc-loading>
	</div>
	<section ng-if="$ctrl.showContent" class="wrap1">
		<form name="$ctrl.form" tooltip-type="major">
			<div class="input-row">
				<label class="label" for="cardName">集团卡名称:</label>
				<div class="wrap">
					<input id="cardName" class="input" type="text"
						   ng-model="$ctrl.currentPlatShop.shop.caption"
						   placeholder="名称"
						   cc-validator required
						   required-msg="请输入集团卡名称" maxlength="20">
				</div>
			</div>
			<div class="input-row">
				<label class="label">集团卡积分名称:</label>
				<div class="wrap">
					<div class="wrap-point" ng-repeat="item in $ctrl.pointPlantList">
						<span class="label-title">积分名称{{$index + 1}}:</span>
						<input class="input" type="text"
							   ng-model="$ctrl.pointPlantList[$index].viewCaption"
							   ng-change="$ctrl.changeThePointName()"
							   placeholder="名称" cc-validator required required-msg="请输入积分名称" maxlength="20">
					</div>
				</div>
			</div>
			<div class="input-row">
				<label class="label" for="cardName">集团卡积分关系:</label>
				<div class="wrap">
					<span class="label-title">选择{{$ctrl.unit}}:</span>
					<div class="shopSelect">
						<input type="text" placeholder="请选择..." ng-click="$ctrl.openShopSelector()">
					</div>
				</div>
			</div>
		</form>
		<div class="grid-wrap">
			<cc-grid ng-if="$ctrl.shopPointAndCarGroupBindGirdData" class="grid visible-grid" ng-style="{height: $ctrl.gridheight}" opts="$ctrl.cardAndPointGridOption"></cc-grid>
		</div>

	</section>

	<footer ng-if="$ctrl.showContent" class="foot-container">
		<button class="btn-ok btn-save" ng-click="$ctrl.save()">保存</button>
		<button class="btn-cancel" ng-click="$ctrl.cancel()">重置</button>
	</footer>

</section>
