<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<% htmlWebpackPlugin.files.chunks[chunk].css.forEach(function(css){ %>
<link rel="stylesheet" href="<%= css %>">
<% }) %>
<% } %>

<main>
<div class="ccmsc-main-container le"
	ng-class="{'contract-left': !$ctrl.menusOptions.unfold}"
	ng-controller="LEMainController as $ctrl">

	<cc-loading ng-if="!$ctrl.menusOptions"></cc-loading>

	<div class="left-container">
		<cc-menu-bar
			class="cc-side-container"
			ng-if="$ctrl.menusOptions"
			unfold="$ctrl.menusOptions.unfold"
			on-unfold="$ctrl.menusOptions.unfoldClick"
			menu-source="$ctrl.menusOptions.menusResource"
			shop-source="$ctrl.menusOptions.shopsResource"
			search-placeholder="$ctrl.menusOptions.searchPlaceholder">
		</cc-menu-bar>
	</div>
	<div ng-if="$ctrl.menusOptions" class="center-container cc-content-container" ui-view></div>

	<!--<aside class="cc-aside-container"></aside>-->
</main>
</main>
<% var i = 0; for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" seq="<%= i++ %>"></script>
<% } %>
</html>
