.rule-condition-edit {
	position: relative;
	height: calc(100% - 10px);
	width: calc(100% + 40px);
	overflow-y: auto;
	top: -20px;
	right:-40px;
	left: -20px;
	padding: 20px;

	.head {
		.var-sref {
			text-decoration: none;
			color: #0083ba;
		}

		.var-title {
			font-size: 14px;
			line-height: 18px;
			text-align: left;
		}
	}

	le-time-line {
		ul {
			margin: 30px 0 18px 0;
		}
	}

	.input-name-wrap {
		margin-top: 18px;
		margin-bottom: 20px;
		.title {
			font-size: 12px;
			color: #3a3a3a;
			width: 60px;
		}
		.input {
			margin-left: 10px;
			width: 260px;
		}
	}
	.operating-container {
		display: flex;
		min-width: 980px;
		.operating-container-left {
			width: 394px;
			le-folding-bar-container + le-folding-bar-container {
				.folding-bar-container {
					margin-top: 6px;
				}
			}

			.items {
				display: flex;
				flex-wrap: wrap;
				padding: 6px 11px 0px 11px;
				.item {
					margin: 6px 4px;
					flex: 0 0 auto;
					display: inline-block;
					padding: 0 3px;
					background: #fdfdfd;
					border: 1px solid #e3e3e3;
					border-radius: 2px;
					height: 22px;
					font-size: 12px;
					text-align: center;
					line-height: 20px;
					color: #777;
					cursor: pointer;
					&:hover {
						background: #eff7ff;
					}
					&.item-selected {
						background: #eff7ff;
						color: #0083ba;
					}
				}
			}
		}
		.operating-container-right {
			flex: 1 0 auto;
			margin-left: 11px;
			min-width: 575px;
			.setting-rule-container {
				background: #ffffff;
				border: 1px solid #e8e8e8;
				min-height: 80px;
				.head {
					color: #666666;
					padding: 0 15px;
					line-height: 35px;
					background-color: #f0f0f0;
				}
				.rules {
					display: flex;
					flex-direction: column;
					.rule {
						background-color: #ffffff;
						padding: 6px 3px;
						display: flex;
						min-height: 40px;
						.rule-title {
							flex: 0 0 auto;
							min-width: 130px;
							max-width: 230px;
							width: 20%;
							font-size: 12px;
							color: #3a3a3a;
							text-align: right;
							line-height: 30px;
						}
						.rule-setting{
							flex: 1 0 auto;
							padding-left: 10px;
							.bindHtml{
								display: flex;
								align-items: center;
								cc-radio + cc-radio{
									margin-left: 20px;
								}
								.radio-button-icon{
									margin-right: 8px;
								}
							}
							cc-radio:not(:first-child){
								line-height: 35px;
							}
						}
						.icon-wrap{
							display: inline-block;
							flex: 0 0 auto;
							width: 26px;
							.icon-trash{
								margin-right: 10px;
							}
						}
						&:hover {
							background-color: #eef8fc;
						}
						&.hover {
							background: #eef8fc;
						}
						.dropdown-medium {
							width: 90px;
							margin-right: 8px;
						}
						.input-medium {
							width: 130px;
							margin-right: 8px;
						}
					}
					.error-red {
						// 粉红色底提示的功能在时间组件处瑕疵, 需要再研究一下
						background: #fcf0f6 !important;
					}
				}
			}
		}
	}
	.blank{
		height: 51px;
	}
	.foot-container {
		position: fixed;
		bottom: 0;
		left: 180px;
		right: 0;
		height: 50px;
		border-top: #e8e8e8 1px solid;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fefefe;
		button + button {
			margin-left: 15px;
		}
	}
}
