<section class="rule-condition-edit">
	<div cc-bind-html="$ctrl.headTitleContainer">
	</div>
	<div ng-if="!$ctrl.showContent" class="leLoading">
		<cc-loading></cc-loading>
	</div>
	<le-time-line ng-if="$ctrl.showContent" class="rule-setting-timeLine" state-list="$ctrl.timeLineList"
				  current-state="$ctrl.currentState"></le-time-line>
	<form ng-if="$ctrl.showContent" name="$ctrl.ruleNameInputForm" class="form-wrapper input-name-wrap"
		  tooltip-type="major">
		<label class="title" for="ruleNameInput">规则名称:</label>
		<input class="input" type="text" id="ruleNameInput" ng-model="$ctrl.rule.title" cc-validator required
			   placeholder="请输入规则名称" autofocus onfocus="this.select()" maxlength="20">
	</form>

	<div ng-if="$ctrl.showContent" class="operating-container">
		<div class="operating-container-left">
			<le-folding-bar-container 
				title-name="{{items.caption}}" 
				ng-repeat="items in $ctrl.ruleMetas">
					<div class="items">
						<div class="item"
							ng-repeat="item in items.properties"
							title="{{item.caption}}"
							ng-class="{'item-selected': item.selected}"
							ng-click="$ctrl.clickMetaItem(item)"
							ng-mousemove="item.mouseover = true"
							ng-mouseleave="item.mouseover = false">{{item.caption}}
						</div>
					</div>
			</le-folding-bar-container>
		</div>
		<div class="operating-container-right">
			<div class="setting-rule-container">
				<div class="head">设置条件</div>
				<div class="rules">
					<div class="rule" ng-repeat="item in $ctrl.settingRuleArr"
						 ng-mousemove="item.mouseover = true"
						 ng-mouseleave="item.mouseover = false"
						 ng-class="{'hover': item.mouseover, 'error-red': item.errorInput}">
						<div class="rule-title">{{item.caption}}:</div>
						<div class="rule-setting" ng-click="$ctrl.conRule(item)">

							<le-meta-data-input ng-if="!item.needRadioSelect"
												view-type="{{item.viewType}}"
												values="item.values"
												suffix="{{item.postfix}}"
												options="item.options"
												logic="item.logic"
												caption="{{item.caption}}"
												uid="{{item.id}}"
												error-input="item.errorInput"></le-meta-data-input>
							<form ng-if="item.needRadioSelect">
								<cc-radio ng-model="item.radioSelect" ng-value="'COMMON'" >
									<le-meta-data-input view-type="{{item.viewType}}"
														values="item.radioSelect === 'COMMON' ? item.values : item.values_temp"
														suffix="{{item.postfix}}"
														options="item.options"
														logic="item.logic_temp"
														caption="{{item.caption}}"
														need-check="{{item.radioSelect === 'COMMON' ? 'true' : 'false'}}"
														uid="{{item.id}}"
														error-input="item.errorInput"
														on-calendar-close="$ctrl.redCheckTip"></le-meta-data-input>
								</cc-radio>
								<br>
								<cc-radio ng-model="item.radioSelect" ng-value="'MEMBERBIRTHDAY'">
									会员生日
									<cc-dropdown-select style="width: 90px"
														model="item.value_special"
														datalist="$ctrl.tiemRadioSelect">
									</cc-dropdown-select>
								</cc-radio>
								<br>
								<cc-radio style="line-height: 35px;" ng-model="item.radioSelect" ng-value="'MEMBERDAY'">
									会员日 &nbsp&nbsp 当天
								</cc-radio>
							</form>
						</div>
						<div class="icon-wrap">
							<span class="iconfont icon-trash icon-button"
								  ng-show="item.mouseover" ng-click="$ctrl.clickMetaItem(item, true)"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer ng-if="$ctrl.showContent" class="foot-container">
		<button class="btn-ok btn-save" ng-click="$ctrl.nextStep()">下一步</button>
		<button class="btn-cancel" ng-click="$ctrl.cancel()">取消</button>
	</footer>
</section>
