$padding-left: 20px;
$padding-right: 20px;

.expression-block {
	width: 100%;

	.expression-block-wrap {
		border: 1px solid #e8e8e8;
	}
	.red {
		border: 1px solid #f7b4b4;
	}
	.expression-block-wrap + .expression-block-wrap {
		margin-top: 20px;
	}
	.expression-block-header {
		background: #f1f1f1;
		color: #666;
		height: 35px;
		padding-left: $padding-left;
		padding-right: $padding-right;
		position: relative;
		.caption {
			line-height: 35px;
		}

		.switch {
			position: absolute;
			right: 65px;
			top: 7px;
			display: inline-block;
		}
		.iconfont {
			position: absolute;
			right: 20px;
			display: inline-block;
			line-height: 35px;
		}
	}

	.expression-block-content {
		padding-left: $padding-left;
		padding-right: $padding-right;

		.expression-setting {
			display: flex;
			padding: 22px 0;
		}
		.expression-timeConfig {
			text-align: right;
			font-size: 12px;
			color: #666666;
			margin-bottom: 15px;
		}

		.expression-setting + .expression-setting {
			border-top: 1px solid #ebebeb;
		}

		.expression-point-label {
			flex: none;
			color: #666;
			margin-right: 5px;
		}

		.expression-content {
			flex: 1;
			margin-right: 5px;
		}
		.expression-validate-message {
			display: block;
			text-align: right;
			margin-top: -25px;
			margin-bottom: 5px;
		}

		.expression-edit-icon {
			flex: none;
			align-self: center;
			float: right;
		}
		.iconfont {
			margin-right: 4px;
		}

		.icon-right {
			color: #42aa31;
		}

		.icon-caution {
			color: #ff5243;
		}
	}

	.expression-block-footer {
		margin-top: 20px;
		font-size: 14px;
		line-height: 30px;
		background: #f8f8f8;
		padding-left: $padding-left;
		padding-right: $padding-right;
		display: flex;
		flex-flow: row wrap;
		align-items: center;

		.expression-footer-label {
			color: #999999;
			margin-right: 10px;
			text-align: right;
			min-width: 84px;
		}

		.expression-footer-variable {
			color: #0083ba;
			margin-right: 15px;
		}

		.var-add-button {
			font-size: 12px;
			line-height: normal;
			color: #0097d7;
		}
	}

	.variable-item {
		cursor: pointer;
	}

	.variable-item.variable-item--active {
		background: #daf1fa !important;
	}
}
