<div class="expression-block"
	 ng-click="$ctrl.mouseClickHandler($event)"
	 ng-mousemove="$ctrl.mouseMoveHandler($event)">
	<cc-tips ng-if="!$ctrl.isChrome" msg="请在Chrome浏览器下编辑表达式" type="major" style="margin-bottom: 5px; cursor: pointer" ng-click="$ctrl.jumpToBaiDu()"></cc-tips>
	<div class="expression-block-wrap" ng-class="{'red': !rule.cheked && rule.exprContent}" ng-repeat="rule in $ctrl.rules track by $index">
		<div class="expression-block-header" ng-if="$ctrl.hasFooter">
			<span class="caption">{{rule.cardPointPlanViewCaption}}</span>

			<cc-switch class="switch" ng-model="rule.currentValid" ng-click="$ctrl.clickTheSwitch(rule, rule.currentValid)"></cc-switch>
			<i class="iconfont icon-edit icon-button expression-edit-icon"
					ng-if="$ctrl.editExpressionIcon"
					ng-click="$ctrl.editExpressionFn({rule: rule})"></i>

		</div>
		<div class="expression-block-content">
			<div class="expression-setting">
				<label class="expression-point-label" ng-bind="'计算表达式' + '='"></label>
				<le-expression-editor
						class="expression-content"
						editable="$ctrl.editable"
						variables="$ctrl.variables"
						expression="rule.exprContent"
						get-range="$ctrl.getRange()"
						set-range="$ctrl.setRange(range)"
						set-expression="$ctrl.setExpression(expression, $index)"
						set-validation="$ctrl.setValidation(validation, $index)"
						error-tips="rule.errorTips"></le-expression-editor>

			</div>
			<div ng-if="$ctrl.hasFooter && rule.currentValid" class="expression-timeConfig">下单时间：{{rule.ruleStartDate}}&ensp;&ensp;发放时间：{{$ctrl.sendTimeTitle(rule)}}</div>
			<div ng-if="!$ctrl.hasFooter && rule.exprContent"><span class="expression-validate-message"
					   ng-if="$ctrl.editable && rule.cheked"><i class="iconfont icon-right"></i>表达式正确</span>
				<span cc-tooltip="rule.errorTips.tip"
					  tooltip-placement="bottom-right"
					  class="expression-validate-message"
					  ng-if="$ctrl.editable && !rule.cheked"><i
						class="iconfont icon-caution"></i>表达式错误</span></div>
		</div>
	</div>

	<div ng-repeat="customVariables in $ctrl.customVariablesAry track by $index"
		 class="expression-block-footer"
		 ng-if="$ctrl.hasFooter">
		<label class="expression-footer-label">{{customVariables.customVariablesAryName + '变量：'}}</label>
		<a class="expression-footer-variable variable-item {{$ctrl.VARIABLE_NAME_PREFIX}}custom{{$ctrl.SPLIT_SYMBOL}}{{variable.id}}"
		   ng-repeat="variable in customVariables track by $index"
		   ng-bind="variable.caption"></a>
		<button class="var-add-button btn-cancel-small" ng-click="$ctrl.editCustomVariableFn({currentSchemaId: customVariables.currentSchemaId, categoryName: customVariables.customVariablesAryName});$ctrl.conEditCustomVariableFn({currentSchemaId: customVariables.currentSchemaId})">+ 添加</button>
	</div>

</div>
