.member-file-upload {
	display: flex;
  flex-direction: column;
  height: 100%;

	.head-title-container {
		
		.head-title{
			font-size:14px;
			line-height:18px;
			text-align:left;
			color: #2d2d2d;
		}
		
		.head-sref{
			text-decoration: none;
			color:#0083ba;
		}
	}

	.caption {
		margin-top: 20px;
		margin-bottom: 10px;
		.txt-name {
			font-size:14px;
			color:#777777;
			text-align:left;
		}

		.txt-second {
			margin-left: 12px;
		}

		.file-data {
			font-size: 14px;
			color: #3d3d3d;
			text-align: left;
		}
	}

	.column-block {
		margin-top: 25px;

		.column-ul {

			.column-ul-li {
				float: left;
				margin-left: 15px;
				margin-bottom: 15px;
				.li-index {
					margin-left: 30px;
					width: 48px;
				}

				.li-select {
					width: 230px;
					margin-left: 15px;
				}
			}
		}
	}

	.footer-container {
		margin-top: 20px;
		text-align: center;

		.btn-checkbox {
			user-select: none;
			font-size: 14px;
			color: #00aaf1;
			text-align: center;
			margin-right: 30px;
		}

		.btn-upload {
			margin-right: 15px;
		}
	}
	
}