<section class="member-file-upload" ng-if="$ctrl.showGrid">
	<header class="head-title-container">
		<a class="head-title head-sref" ui-sref="le.member.information">会员总览</a>&nbsp;/&nbsp;
		<a class="head-title head-sref" ui-sref="le.member.batchImport">批量导入</a>&nbsp;/&nbsp;
		<span class="head-title">文件上传</span>
	</header>
	<p class="caption">
		<span class="txt-name">文件名称：</span><span class="file-data">{{$ctrl.file.fileName}}</span>
		<span class="txt-name txt-second">总记录数：</span><span class="file-data">{{$ctrl.file.lineCount}}</span>
	</p>
	<cc-grid id="grid" class="member-grid visible-grid" opts="$ctrl.memberListGridOption" on-refresh="$ctrl.search(opts)"></cc-grid>
	<section class="column-block">
		<ul class="column-ul">
			<li ng-repeat="column in $ctrl.fileColumn track by $index" class="column-ul-li">
				<span class="li-index">第{{column.title}}列：</span>
				<cc-dropdown-select
						class="li-select"
						model="$ctrl.valueList[column.value].name"
						mapping="{valueField:'name', displayField:'caption'}"
						datalist="$ctrl.selectList[column.value]"
						on-dropdown-open="$ctrl.datalistfilter(column.value, $ctrl.valueList[column.value].name)"
						on-select-change="$ctrl.fileColumnConfig(model, oldModel, column.value)"
						placeholder="请选择...">
				</cc-dropdown-select>
			</li>
		</ul>
	</section>
	<footer class="footer-container">
		<cc-checkbox class="btn-checkbox" ng-model="$ctrl.firstLine">导入首行</cc-checkbox>
		<button class="btn-ok btn-upload" ng-click="$ctrl.validator()">导入</button>
		<button class="btn-cancel" ng-click="$ctrl.cancel()">取消</button>
	</footer>
</section>
