<section class="rule-expression-edit">
	<div class="head-title-container">
		<span class="subtitle1" ui-sref="le.loyalty.{{$ctrl.schemas}}">{{$ctrl.schemasName}}</span>
		<span class="subtitle2"> {{$ctrl.rule.cardPointPlanViewCaption}}</span>
		<cc-switch class="switch"
					   open-text =" 已开启" close-text=" 已关闭"
					   ng-if="$ctrl.showContent" ng-model="$ctrl.rules[0].currentValid"
					   ng-click="$ctrl.switchRule($ctrl.rules[0], $ctrl.rules[0].currentValid)"></cc-switch>
	</div>
	<form class="points-form" tooltip-type="major" name="$ctrl.pointsForm">
		<div class="points-name">
			<label class="points-caption">下单时间：</label>
			<span style="position: relative">
				<cc-date-picker ng-model="$ctrl.ruleStartDate" name="dataPicker" class="points-data"
								  disabled="$ctrl.rule.currentValid" min-date="$ctrl.minDate"></cc-date-picker>
				<span ng-if="$ctrl.rule.currentValid" ng-click="$ctrl.showTip()" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0"></span>
			</span>

			<span class="iconfont icon-question-mark"
				  style="color:#b6d9f7; margin-left: 5px; font-size: 14px; margin-top: -8px;"
				  cc-tooltip="'1 填写的时间必须晚于或等于当前时间，默认为当前时间。<br>
                                  2 当规则开启后，系统只对该时间之后下单的订单计算并发放积分。<br>
                                  3 当规则关闭后，规则关闭前已经下单的订单仍会计算并发放积分'"
				  tooltip-append-to-body="true"
				  tooltip-placement="right"></span>
		</div>
		<div class="points-name">
			<label class="points-caption">{{$ctrl.rule.cardPointPlanViewCaption}}发放时间：</label>
			买家确认收货后
			<cc-dropdown-select class="rules-start" model="$ctrl.sendTime.sendTimePeriod"
								datalist="$ctrl.datalist3_2">
			</cc-dropdown-select>
			<le-meta-data-input ng-if="$ctrl.sendTime.sendTimePeriod === false"
								class="day-input"
								view-type="INPUT_INT"
								values="$ctrl.sendTime.periodAry"
								suffix="天" min-value="1" max-value="99"></le-meta-data-input>
		</div>
	</form>
	<div ng-if="$ctrl.showContent" class="rule-expression-block" ng-click="$ctrl.con()">
		<le-expression-block
				rules="$ctrl.rules"
				variables="$ctrl.contents"
				editable="true"></le-expression-block>
	</div>
	<le-expression-btn contents="$ctrl.contents" insert-expression-content="$ctrl._exDataService.insertExpressionContent($ctrl, variable)"></le-expression-btn>
	<footer class="foot-container">
		<span class="save-open-points" ng-class="{disabled: $ctrl.rule.currentValid }"  ng-click="!$ctrl.rule.currentValid && $ctrl.save(true)">保存并开启</span>
		<button class="btn-ok btn-save" ng-click="$ctrl.save()">保存</button>
		<button class="btn-cancel" ng-click="$ctrl.cancel()">取消</button>
	</footer>
</section>
