<section class="member-cards-main-container visible-grid" ng-click="$ctrl.closeTheMemberDayWeek($event)">
	<header class="head-title-container">
		<span class="mainTitle">会员卡设置</span>
	</header>
	<div ng-if="!$ctrl.showContent" class="leLoading">
		<cc-loading></cc-loading>
	</div>
	<section ng-if="$ctrl.showContent" class="wrap1">
		<form name="$ctrl.memberCardsForm" tooltip-type="minor">
			<div class="input-row">
				<label class="label" for="cardName">会员卡名称:</label>
				<input id="cardName" class="input" type="text" ng-model="$ctrl.memberCardInfo.caption" placeholder="名称"
					   cc-validator required required-msg="请输入1-20个字" maxlength="20">
			</div>
			<div class="input-row">
				<label class="label">会员日:</label>
				<span class="pre" id="positioning">每周</span>
				<cc-dropdown-multiselect ng-if="$ctrl.memberDayWeekShow"
										 class="input"
										 model="$ctrl.memberDayWeek"
										 datalist="$ctrl.weeklist" confirm-button="true" is-open="$ctrl.memberDayWeekIsOpen"></cc-dropdown-multiselect>
			</div>
			<div class="input-row">
				<label class="label"></label>
				<span class="pre">每月</span>
				<le-day-picker style="height:30px;" is-open="$ctrl.memberDayMounthIsOpen" choose-day="$ctrl.memberDayMonth"></le-day-picker>
			</div>
			<div class="grid-wrap">
				<section class="wrap2" ng-style="grade.style" ng-if="!$ctrl.showLoading && grade.opts" ng-repeat="grade in $ctrl.grades">
					<cc-grid opts="grade.opts"></cc-grid>
				</section>
			</div>
			<section class="wrap3" ng-style="$ctrl.pointsSettingGridOpts.style" ng-if="!$ctrl.showLoading && $ctrl.pointsSettingGridOpts">
				<cc-grid opts="$ctrl.pointsSettingGridOpts"></cc-grid>
			</section>
		</form>
	</section>

	<footer ng-if="$ctrl.showContent" class="foot-container">
		<button class="btn-ok btn-save" ng-click="$ctrl.save()">保存</button>
		<button class="btn-cancel" ng-click="$ctrl.cancel()">取消</button>
	</footer>

</section>
