<div class="good-selector-body">
	<form class="search-bar">
		<input type="text" placeholder="商品ID/关键字" class="keyword"
			ng-model="$ctrl.payloads.query"
		>
		<label>价格：</label>
		<input
			type="number" class="price"
			number-fixed="2"
			ng-min="0"
			ng-model="$ctrl.payloads.minPrice"
		> - <input
			type="number" class="price" number-fixed="2"
			ng-min="$ctrl.payloads.minPrice"
			ng-model="$ctrl.payloads.maxPrice"
		>
		<label>分类：</label>
		<cc-dropdown-select class="dropdown"
							model="$ctrl.payloads.leafCidChoice"
							datalist="$ctrl.productClassify">
		</cc-dropdown-select>
		<!--<label>&nbsp;-->
			<!--<input-->
				<!--type="checkbox"-->
				<!--ng-true-value="'true'"-->
				<!--ng-false-value="'all'"-->
				<!--ng-model="$ctrl.payloads.isOnsale"-->
			<!--&gt;&nbsp;只显示在架-->
		<!--</label>-->
		<button class="btn-cancel" ng-click="$ctrl.resetSearchCondition()">重置</button>
		<button class="btn-ok" ng-click="$ctrl.search(1, $ctrl.payloads.pagesize)">搜索</button>
	</form>
	<section class="products-list">
		<div class="list-wrapper">
			<div class="title">
				<label><input type="checkbox" ng-model="$ctrl.preCheck"
					ng-change="$ctrl.selectAll('preList', $ctrl.preCheck)"
				>&nbsp;全选</label>
			</div>
			<ul class="pre-list">
				<span class="product-blank-tip" ng-if="$ctrl.preList.length === 0">该筛选条件下没有商品</span>
				<li ng-repeat="product in $ctrl.preList track by $index" ng-click="product.selected = !product.selected">
					<input type="checkbox" ng-model="product.selected" ng-click="$event.stopPropagation()">
					<div class="pic-wrapper">
						<img ng-src="{{product.pic_url || product.picUrl}}" alt="{{product.title}}">
					</div>
					<div class="right-info">
						<div class="inner-title">
							<a
							ng-href="{{product.detailUrl}}" ng-bind="product.title" target="_blank"
						    ></a>
						</div>
						<div>
							商品ID: {{product.numIid}}
						</div>
						<div>
							<span class="price">{{product.price | number:2}}元</span><span ng-bind="$ctrl.productClassifyNameObj[product.catalogId]"></span>
						</div>
					</div>
				</li>
			</ul>
			<cc-pagination
				class="paginator"
			    type="normal"
			    page-num="$ctrl.payloads.page"
			    page-size="$ctrl.payloads.pagesize"
			    page-size-list="$ctrl.paginator.pageList"
			    totals="$ctrl.paginator.total"
			    total-pages="$ctrl.paginator.totalPages"
			    on-change="$ctrl.search(pageNum, pageSize)">
			</cc-pagination>
		</div>
		<button class="add" ng-click="$ctrl.add()">添加&nbsp;<i class="iconfont icon-nextpage"></i></button>
		<div class="list-wrapper">
			<div class="title">
				<label><input type="checkbox"
					ng-model="$ctrl.secCheck"
					ng-change="$ctrl.selectAll('secList', $ctrl.secCheck)"
				>&nbsp;全选</label>
				&nbsp;&nbsp;<span class="delete" ng-click="$ctrl.delete('all')">清除</span>
			</div>
			<ul class="sec-list">
				<li ng-repeat="product in $ctrl.secList track by $index" ng-click="product.selected = !product.selected" ng-class="{'delete-li' : product.delete}">
					<input type="checkbox" ng-model="product.selected" ng-click="$event.stopPropagation()">
					<div class="pic-wrapper">
						<img ng-src="{{product.pic_url || product.picUrl}}" alt="{{product.title}}">
					</div>
					<div class="right-info">
						<div class="inner-title"><a ng-href="{{product.detailUrl}}" ng-bind="product.title"></a></div>
						<div>
							商品ID: {{product.numIid}}
						</div>
						<div>
							<span class="price">{{product.price | number:2}}元</span><span ng-bind="$ctrl.productClassifyNameObj[product.catalogId]"></span>
						</div>
					</div>
					<i class="iconfont icon-trash" ng-click="$ctrl.delete('single', product.numIid)"></i>
				</li>
			</ul>
			<div class="footer">
				&nbsp;&nbsp;已选商品：<span ng-bind="$ctrl.secList.length"></span>&nbsp;/ 150
			</div>
		</div>
	</section>
</div>
