.expression-editor {
	font-size: 14px;
	min-height: 22px;

	&:focus{
		outline: none;
	}

	input:disabled {
		border: none;
		background: inherit;
		color: inherit;
		font-size: inherit;
		height: inherit;
		margin: 0;
		padding: 0;
		text-align: center;
	}
}
